<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ride2mdservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ride2mdservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Ride2MDService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Ride2MDService</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Conn" Order="1" Enabled="False">
          <Destination Path="Data Source=abeyonwatson1.database.windows.net;Initial Catalog=Ride2MD;Persist Security Info=False;User ID=watsonadmin;Password=w@tson2015;Pooling=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:abeyonwatson1.database.windows.net,1433;Data Source=abeyonwatson1.database.windows.net;Initial Catalog=Ride2MD;Persist Security Info=False; User ID=watsonadmin;Password=w@tson2015;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.1.10.243;Initial Catalog=Ride2MD;Integrated Security=False;User ID=watson;Password=w@tson2015;Pooling=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Conn_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.1.10.243;Initial Catalog=Ride2MD;pooling=true;Integrated Security=False;User ID=watson;Password=w@tson2015" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Conn-Web.config Connection String">
      <ParameterValue>Server=tcp:abeyonwatson1.database.windows.net,1433;Data Source=abeyonwatson1.database.windows.net;Initial Catalog=Ride2MD;Persist Security Info=False; User ID=watsonadmin;Password=w@tson2015;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>